*{
    margin: 0px;
    padding: 0px;
}

header {
    text-align:left ;
    background-color: burlywood;
    padding: 35px;
}
menu{
    text-align: center;
}

.nav {
    background-color: blanchedalmond ;   
    color: black;
    text-decoration: none ;
    padding: 5px;
    border-radius: 5px;
}
.proceso{
    background-color: rgb(222, 184, 135) ;
    color: black;
    padding: 8px;
    border-radius: 8px;
}

footer {
    text-align: center;
    background-color: burlywood;
    margin-top: 20px;
    padding: 20px;
    
    
}



